body{
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;
    font-family: 'Lato', serif;
    width: 100%;
    text-align: justify;
    /* background-color: blue;
    background-image: url('/imagenes/fondo_textura_1.jpg'); */
}

.borde{
    border: 1px solid black;
    padding: 15px;
}

#cabecera{
    text-align: center;
}

#menu{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction:row;
    /*flex-direction: row-reverse; */
    /*flex-direction: column; 
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;*/
    /*flex-wrap: Agregar varios a
    flex-wrap:wrap;
    flex-wrap: nowrap;
    justify-content: flex-start
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;*/
    /*align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch; --> quitar el alto
    align-items: baseline;
    align-content: flex-end;
    align-content: center;
    align-content: flex-start ;
    align-content: space-between;
    align-content: space-around;*/
    
}

#menu a{
    /*display: inline-block;*/
    background-color: #adbecf;
    color: black; 
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    line-height: normal;
    width: 15%;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
}

#menu a:hover{
    color: white;
    background-color: gray;
}

#menu a:active{
    color: black; 
}

#menu .menu_activo{
    background-color: #d39c87;
}

#sec_quien_soy{
    display: flex;
}
#sec_quien_soy #titulo_soy_dg{
    margin-bottom: 1px;
}

#sec_quien_soy #small_soy_dg{
    font-size: 10px;
}

#sec_quien_soy #art_soy hr{
    background-color: black;
    width: 30%;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
    margin-left: 0;
}

#sec_a_que_me_dedico{
    color: white;
    background-color: #6fa8dc;
    text-align: center;
}

#sec_a_que_me_dedico h1{
    margin-bottom: 0px;
}

#sec_a_que_me_dedico hr{
    background-color: white;
    width: 30%;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
}

#sec_como_puedo_ayudarte{
    text-align: center;
}

/*#sec_como_puedo_ayudarte #sec_servicios .art_tz{
    margin-left: 15px;
} */

#sec_como_puedo_ayudarte #sec_servicios{
    display: flex;
    justify-content: space-around;
}

#sec_como_puedo_ayudarte #sec_servicios article{
    background-color: #FF9800;
    color: white;
    border: 2px solid blue;
    margin : 20px;
    padding: 20px;
}

#sec_como_puedo_ayudarte #sec_servicios article p{
    text-align: justify;
}

#sec_como_puedo_ayudarte .boton_ver{
    background-color: white;
    border: 1px solid black;
    color:#e07923;
    padding: 5px;
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

#sec_como_puedo_ayudarte .boton_ver:hover{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    color: #4890cb;
}

#sec_herramientas{
    color: white;
    text-align: center;
    background-color: #6fa8dc;
}

#sec_herramientas table{
    color: black;
}

#sec_herramientas table tbody img{
    width: 40%;
}

#pie_de_pagina{
    text-align: ce;
}

#sec_contenedor_lg{
    background-color: #cf8f30;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sec_contenedor_lg img{
    margin: 10px;
}

.cnt_img_lg{
    background: #607d8b;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;

    /*flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0; 
    flex: 1 1 auto; 
    order: 2;*/
}

.otro{
    order: 1;
    align-self: stretch;
   /*
   align-self: flex-start;
   align-self: center;
    align-self: flex-end;*/
    height: auto;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: red;
    }
}
  

@media print {
    h1 {
    color: red;
    }
}
   