body{
    padding: 20px;
    background-color: rgb(230, 235, 240);
}

#page{
    display: grid;
    height: 550px;
    grid-template-areas: "header header"
                         "nav main"
                         "nav footer";
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

header{
    background-color: rgb(30, 245, 173);
    grid-area: header;
}

nav{
    background-color: rgb(240, 101, 129);
    grid-area: nav;
}

main{
    background-color: rgb(144, 255, 34);
    grid-area: main;
}

footer{
    background-color: rgb(188, 84, 236);
    grid-area: footer;
}

@media only screen and (max-width: 700px){
    #page{
        display: grid;
        height: 550px;
        grid-template-areas: "header header"
                             "nav main"
                             "footer footer";
        grid-template-rows: 200px 1fr 100px;
        grid-template-columns: 200px 1fr;
        gap: 10px;
    }
}

@media only screen and (max-width: 500px){
    #page{
        display: grid;
        height: 550px;
        grid-template-areas: "header header"
                             "nav main"
                             "footer footer";
        grid-template-rows: 200px 1fr 100px;
        grid-template-columns: 200px 1fr;
        gap: 10px;
    }
}